ul{
    list-style-type: none;
    
}




.shopping-body{
    background-color: whitesmoke;
    border-radius: 6px;
    padding-top:10px;
    padding-bottom: 10px;

}



input[type = "checkbox"]:checked + label {
    text-decoration: line-through;
    color: grey;
}