ul{
    list-style-type: none;
    
}




.shopping-body{
    background-color: whitesmoke;
    border-radius: 6px;
    padding-top:10px;
    padding-bottom: 10px;
}

@media only screen and (min-width: 1024px) {
    .shopping-body {
      margin-right: 40px;
    }
}

input[type = "checkbox"]:checked + label {
    text-decoration: line-through;
    color: grey;
}